<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body bgcolor="black">
<p><br>
<font face="lucida console" color="a939ff">
...Estableciendo conexión...<br>
...Protocolo Sombra v1.95 iniciado...<br>
<!-- Bien hecho, ya tienen mi clave. Hackear este programa de televisión no tuvo chiste. Espérense a lo que sigue.-->
<!-- Parece que se están calentando un poco las cosas... tendré que pasar desapercibida mientras esto se finaliza. -->
<br>
...Transmitiendo información a ómnicos activos... 70.9885% <br>
<br>
...Terminando conexión...
</font>
</p>

</body>
</html>